.fill-parent {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.fill-parent-width {
  overflow: hidden;
  width: 100%;
}

.fill-parent-height {
  overflow: hidden;
  height: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-1 {
  flex: 1 0;
}

.scrollbar-y-w4 {
  overflow: hidden scroll;
}

.scrollbar-y-w4::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

.scrollbar-y-w4::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  border-radius: 2px;
}

.scrollbar-y-w8 {
  overflow: hidden scroll;
}

.scrollbar-y-w8::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.scrollbar-y-w8::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  border-radius: 4px;
}

.disabled {
  cursor: not-allowed !important;
  opacity: 0.7;
}

.image-select-btn {
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 28px;
  padding: 6px 0;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background: rgb(0 0 0 / 60%);
  opacity: .8;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}

.image-select-btn::before {
  position: absolute;
  top: 6px;
  bottom: 6px;
  left: 50%;
  width: 1px;
  background-color: #fff;
  content: "";
}

.image-select-btn>* {
  width: 50%;
  height: 28px;
  line-height: 28px;
  cursor: pointer;
}

.image-select-btn>*:hover:not(.disabled) {
  color: rgb(255 255 255 / 70%);
}